button_to_bridge/.env
button_to_bridge/data/
button_to_bridge/__pycache__/

call_via_order_number/.env
call_via_order_number/data/
call_via_order_number/__pycache__/

cdr_via_webhook/venv
cdr_via_webhook/.env
cdr_via_webhook/data/
cdr_via_webhook/__pycache__/
cdr_via_webhook/app.log
cdr_via_webhook/ngrok.log
cdr_via_webhook/ngrok_test.log

insight_card/.env
insight_card/data/
insight_card/__pycache__/

smartIVR_webservice/.env
smartIVR_webservice/data/
smartIVR_webservice/__pycache__/
smartIVR_webservice/app.log

user_management_system/.env
user_management_system/data/
user_management_system/__pycache__/

*.pyc
